body {
    font-family: "Open Sans";
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    display: block;
    width: 100%;
}

/* @import url('/fonts/OpenSans-Bold');
@import url('/fonts/OpenSans-Regular'); */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    min-width: 280px;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

.main-header {
    background-color: #090c35;
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.logo {
    width: 133px;
    margin: 0 auto;
    padding-top: 33px;
}

.logo-img {
    fill: #fff;
    margin: 0 auto;
}

.title {
    margin-top: 136px;
    max-width: 600px;
    margin: 136px auto 0;
}

.title-text {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 6.25%;
}

.title-text:last-child {
    padding-left: 20%;
    padding-right: 6.25%;
    padding-top: 29px;
}

.offer-links {
    margin-top: 89px;
    padding-bottom: 84px;
}

.offer-link {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    background-color: #5e42b0;
    border-radius: 100px;
    box-sizing: border-box;
    padding-left: 111px;
    padding-top: 9px;
    padding-bottom: 9px;

    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
}

.offer-link span {
    font-weight: 700;
}

.offer-link:last-child {
    margin-top: 14px;
}

.gplay-link::before {
    content: url(../svg/google-play.svg);
    width: 22px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
}

.app-store-link::before {
    content: url(../svg/apple_logo_black.svg);
    width: 20px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
}

@media (min-width: 768px) {
    .wrapper {
        min-width: 702px;
    }

    .main-header {
        background-image: url(../img/football_1280.jpg);
    }

    .logo {
        padding-top: 40px;
        width: 205px;
    }

    .logo-img {
        width: 205px;
        height: 56px;
    }

    .title {
        margin-top: 181px;
        max-width: 1200px;
    }

    .title-text {
        font-size: 64px;
        line-height: 64px;
        padding-left: 11.7%;
    }

    .title-text:last-child {
        padding-left: 25.4%;
        padding-right: 11.7%;
        padding-top: 30px;
    }

    .offer-links {
        display: flex;
        justify-content: center;
        margin: 312px auto 0;
        padding-bottom: 91px;
    }

    .offer-link {
        margin: 0 15px;
        max-width: 311px;
        box-sizing: border-box;
        padding-left: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
    }

    .offer-link:last-child {
        margin-top: 0px;
    }

    .gplay-link::before {
        width: 41px;
        height: 45px;
        left: 57px;
    }

    .app-store-link::before {
        width: 36px;
        height: 42px;
        left: 41px;
    }

    .gplay-link {
        padding-left: 126px;
        padding-right: 81px;
    }

    .app-store-link {
        padding-left: 104px;
        padding-right: 65px;
    }
}

@media (min-width: 961px) {

    .main-header {
        background-image: url(../img/football_1920.jpg);
    }

    .logo {
        padding-top: 45px;
        width: 191px;
    }

    .logo-img {
        width: 191px;
        height: 52px;
    }

    .title {
        margin-top: 295px;
        max-width: 100%;
    }

    .title-text {
        font-size: 90px;
        line-height: 90px;
        padding-left: 10%;
    }

    .title-text:last-child {
        padding-left: 450px;
        padding-top: 25px;
        padding-left: 33.5%;
        padding-right: 10%;
    }

    .offer-links {
        margin-top: 222px;
        padding-bottom: 110px;
    }

    .offer-link {
        margin: 0 25px;
    }

    .gplay-link::before {
        width: 40px;
        height: 50px;
        left: 57px;
    }

    .app-store-link::before {
        width: 42px;
        height: 48px;
        left: 38px;
    }

    .gplay-link {
        padding-left: 126px;
        padding-right: 81px;
    }

    .app-store-link {
        padding-left: 105px;
        padding-right: 61px;
    }
}

.heading {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 6.25%;
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.athlets-img {
    display: block;
    width: 192px;
    margin: 0 auto;
    margin-bottom: -55px;
}

.players-img {
    display: block;
    width: 302px;
    margin: 0 auto;
    margin-bottom: -28px;
}

.item {
    padding-left: 6.25%;
    padding-right: 6.25%;
}

.item:nth-child(1) {
    padding-top: 83px;
    background-color: #fafafa;
}

.item:nth-child(2) {
    padding-top: 60px;
    background-color: #f5f4f9;
}

.athlets-item:nth-child(3) {
    padding-top: 60px;
    background-color: #5e42b0;
}

.players-item:nth-child(3) {
    padding-top: 60px;
    background-color: #090c35;
}

.item-wrapper {
    display: flex;
}

.item-num {
    align-self: center;
    padding-bottom: 4px;
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    position: relative;
}

.players-item:last-child .item-num {
    color: #8765dd;
}

.item-num::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.item:nth-child(3) .item-num::after {
    background-color: #ffffff;
}

.item-title {
    color: #c1c1c1;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.item-discription {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 27px;
    padding-bottom: 55px;
}

.item:nth-child(3) .item-discription {
    color: #ffffff;
}

@media (min-width: 768px) {

    .athlets,
    .players {
        position: relative;
    }

    .athlets-img {
        width: 497px;
        height: 699px;
        position: absolute;
        top: 9px;
        left: -160px;
    }

    .players-img {
        width: 436px;
        height: 565px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .athlets-heading,
    .athlets-item {
        padding-left: 38%;
        padding-right: 4.2%;
    }

    .players-heading,
    .players-item {
        padding-left: 4.2%;
        padding-right: 52%;
    }

    .heading {
        margin-top: 85px;
        margin-bottom: 0px;
        font-size: 80px;
    }

    .item:nth-child(1) {
        padding-top: 60px;
        background-color: #ffffff;
    }

    .item-num {
        font-size: 18px;
        line-height: 18px;
    }

    .item-title {
        font-size: 32px;
        line-height: 32px;
    }

    .item-discription {
        font-size: 16px;
        line-height: 28px;
        padding-top: 32px;
        padding-bottom: 36px;
    }
}

@media (min-width: 961px) {

    .athlets-img {
        width: 566px;
        height: 908px;
        top: 0;
        right: 400px;
    }

    .players-img {
        width: 991px;
        height: 815px;
        top: -70px;
        left: 420px;
    }

    .athlets-heading,
    .athlets-item {
        padding-left: 52.6%;
        padding-right: 10.4%;
    }

    .players-heading,
    .players-item {
        padding-left: 10.4%;
        padding-right: 52.6%;
    }

    .heading {
        margin-top: 115px;
    }

    .item:nth-child(1) {
        padding-top: 108px;
        background-color: #ffffff;
    }

    .item-num {
        font-size: 18px;
        line-height: 18px;
    }

    .item-title {
        font-size: 36px;
        line-height: 36px;
    }

    .item-discription {
        font-size: 20px;
        line-height: 28px;
        padding-top: 32px;
        padding-bottom: 55px;
    }
}

.function-img {
    position: relative;
}

.num-wrapper {
    position: relative;
}

.function-num {
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: -8px;
    left: 20px;
}

.function-num::after {
    content: "";
    position: absolute;
    bottom: 22px;
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
}

.function-title {
    color: #e7e7e7;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
}

.function-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    margin: 30px 20px 77px;
}

@media (min-width: 768px) {
    .function-num {
        width: 116px;
        height: 116px;
        font-size: 24px;
        bottom: -33px;
        left: 37px;
    }

    .function-num::after {
        bottom: 40px;
        width: 25px;
    }

    .function-title {
        font-size: 80px;
        margin-top: 54px;
        margin-left: 32px;
    }

    .function-text {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.2px;
        margin: 37px 32px 100px;
    }
}

@media (min-width: 961px) {
    .function-item {
        display: flex;
    }

    .find-contact {
        flex-direction: row-reverse;
    }

    .num-wrapper {
        width: 50%;
        display: flex;
    }

    .content-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .function-num {
        width: 168px;
        height: 155px;
        top: 25%;
        left: 100%;
        margin-left: -84px;
    }

    .find-contact .function-num {
        left: 0;
    }

    .function-num::after {
        bottom: 60px;
        width: 25px;
    }

    .function-title {
        font-size: 70px;
        padding-left: 20%;
        padding-right: 5%;
        margin-left: 0;
        margin-top: 15%;
    }

    .function-text {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.2px;
        padding-left: 20%;
        padding-right: 5%;
        margin: 0;
    }

    .find-contact .function-title,
    .find-contact .function-text {
        margin: 0;
        padding: 0;
        padding-left: 5%;
        padding-right: 20%;
    }

    .find-contact .function-title {
        padding-top: 15%;
    }

    .find-contact .function-text {
        padding-bottom: 5%;
    }
}

.main-footer {
    background-color: #090c35;
    background-image: url(../img/game_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.footer-call {
    padding-top: 100px;
}

.logo-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5436a3;
    width: 72px;
    height: 74px;
    border-radius: 15px;
    margin: 0 auto;
}

.bubble-img {
    width: 50px;
    height: 50px;
}

.footer-text {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.appeal-text {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.motivation-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9b8ec1;
}

.footer-logo {
    padding-bottom: 10px;
    padding-top: 0;
}

@media (min-width: 768px) {
    .main-footer {
        background-image: url(../img/game_1280.jpg);
    }

    .footer-call {
        padding-top: 126px;
    }

    .logo-bubble {
        width: 130px;
        height: 137px;
        border-radius: 25px;
    }

    .bubble-img {
        width: 100px;
        height: 100px;
    }

    .footer-text {
        margin: 0 auto;
        margin-top: 82px;
        text-align: center;
    }

    .appeal-text {
        font-size: 80px;
        line-height: 60px;
    }

    .motivation-text {
        font-size: 36px;
        line-height: 60px;
        padding-top: 15px;
    }

    .footer-logo {
        padding-bottom: 24px;
        padding-top: 0;
    }

    .main-footer .offer-links {
        margin-top: 287px;
        padding-bottom: 55px;
    }
}

@media (min-width: 961px) {
    .main-footer {
        background-image: url(../img/game_1280.jpg);
    }

    .footer-call {
        padding-top: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1000px;
        margin: 0 auto;
        word-break: break-all;
    }

    .logo-bubble {
        width: 130px;
        height: 137px;
        border-radius: 25px;
        margin: 0;
        padding: 0;
        flex-shrink: 0;
    }

    .bubble-img {
        width: 100px;
        height: 100px;
    }

    .footer-text {
        margin: 0;
        padding-left: 35px;
        padding-right: 35px;
        text-align: start;
        width: 100%; 
    }

    .appeal-text {
        display: flex;
    }

    .motivation-text {
        font-size: 30px;
        line-height: 30px;
        padding-top: 20px;
    }

    .footer-logo {
        padding-bottom: 52px;
    }

    .main-footer .offer-links {
        margin-top: 163px;
        padding-bottom: 262px;
    }
}