body {
    font-family: "Open Sans";
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* @import url('/fonts/OpenSans-Bold');
@import url('/fonts/OpenSans-Regular'); */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.wrapper {
    min-width: 280px;
    margin: 0 auto;
}

.main-header {
    background-color: #090c35;
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.logo {
    width: 133px;
    margin: 0 auto;
    padding-top: 33px; 
}

.logo-img {
    fill: #fff;
    margin: 0 auto;
}

.title {
    margin-top: 136px;
    max-width: 600px;
    margin: 136px auto 0;
}

.title-text {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 6.25%;
}

.title-text:last-child {
    padding-left: 20%;
    padding-right: 6.25%;
    padding-top: 29px;
}

.offer-links {
    margin-top: 89px;
    padding-bottom: 84px;
}

.offer-link {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    background-color: #5e42b0;
    border-radius: 100px;
    box-sizing: border-box;
    padding-left: 111px;
    padding-top: 9px;
    padding-bottom: 9px;

    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
}

.offer-link span {
    font-weight: 700;
}

.offer-link:last-child {
    margin-top: 14px;
}

.gplay-link::before {
    content: url(../svg/google-play.svg);
    width: 22px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
}

.app-store-link::before {
    content: url(../svg/apple_logo_black.svg);
    width: 20px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
}

@media (min-width: 768px) {

    .wrapper {
        min-width: 702px;
    }

    .main-header {
        background-image: url(../img/football_1280.jpg);
    }

    .logo {
        padding-top: 40px;
        width: 205px;
    }

    .logo-img {
        width: 205px;
        height: 56px;
    }

    .title {
        margin-top: 181px;
        max-width: 1200px;
    }

    .title-text {
        font-size: 64px;
        line-height: 64px;
        padding-left: 11.7%;
    }

    .title-text:last-child {
        padding-left: 25.4%;
        padding-right: 11.7%;
        padding-top: 30px;
    }

    .offer-links {
        display: flex;
        justify-content: center;
        margin: 312px auto 0;
        padding-bottom: 91px;
    }

    .offer-link {
        margin: 0 15px;
        max-width: 311px;
        box-sizing: border-box;
        padding-left: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
    }

    .offer-link:last-child {
        margin-top: 0px;
    }

    .gplay-link::before {
        width: 41px;
        height: 45px;
        left: 57px;
    }
    
    .app-store-link::before {
        width: 36px;
        height: 42px;
        left: 41px;
    }

    .gplay-link {
        padding-left: 126px;
        padding-right: 81px;
    }
    
    .app-store-link {
        padding-left: 104px;
        padding-right: 65px;
    }
}

@media (min-width: 1920px) {

    .wrapper {
        max-width: 1920px;
    }

    .main-header {
        background-image: url(../img/football_1920.jpg);
    }

    .logo {
        padding-top: 45px; 
        width: 191px;
    }

    .logo-img {
        width: 191px;
        height: 52px;
    }

    .title {
        margin-top: 295px;
        max-width: 100%;
    }

    .title-text {
        font-size: 90px;
        line-height: 90px;
        padding-left: 10%;
    }

    .title-text:last-child {
        padding-left: 450px;
        padding-top: 25px;
        padding-left: 33.5%;
        padding-right: 10%;
    }

    .offer-links {
        margin-top: 222px;
        padding-bottom: 110px;
    }

    .offer-link {
        margin: 0 25px;
    }

    .gplay-link::before {
        width: 40px;
        height: 50px;
        left: 57px;
    }
    
    .app-store-link::before {
        width: 42px;
        height: 48px;
        left: 38px;
    }

    .gplay-link {
        padding-left: 126px;
        padding-right: 81px;
    }
    
    .app-store-link {
        padding-left: 105px;
        padding-right: 61px;
    }
}

.heading {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 6.25%;
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.athlets-img {
    display: block;
    width: 192px;
    margin: 0 auto;
    margin-bottom: -55px;
}

.players-img {
    display: block;
    width: 302px;
    margin: 0 auto;
    margin-bottom: -28px;
}

.item {
    padding-left: 6.25%;
    padding-right: 6.25%;
}

.item:nth-child(1) {
    padding-top: 83px;
    background-color: #fafafa;
}

.item:nth-child(2) {
    padding-top: 60px;
    background-color: #f5f4f9;
}

.athlets-item:nth-child(3) {
    padding-top: 60px;
    background-color: #5e42b0;
}

.players-item:nth-child(3) {
    padding-top: 60px;
    background-color: #090c35;
}

.item-wrapper {
    display: flex;
}

.item-num {
    align-self: center;
    padding-right: 10px;
    padding-bottom: 7px;
    width: 15px;
    height: 11px;
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    position: relative;
}

.players-item:last-child .item-num {
    color: #8765dd;
}

.item-num::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.item:nth-child(3) .item-num::after {
    background-color: #ffffff;
}

.item-title {
    color: #c1c1c1;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-discription {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 27px;
    padding-bottom: 55px;
}

.item:nth-child(3) .item-discription {
    color: #ffffff;
}

